@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;700&display=swap');

:root {
    --font-title: 'Anek Telugu', sans-serif;
    --font-body: 'Anek Telugu', sans-serif;
    --height-logo-header: 40px;
    --height-logo-footer: 40px;
    --height-logo-mobile-header: 34px;
    --height-logo-mobile-footer: 34px;
    --max-width-global-wrap: 1600px;
    --max-width-post-wrap: 800px;
    --grid-gap: 16px;
    --border-radius: 26px;
    --margin-wrap-left-right: 5vw;
    --font-family-system: "Anek Telugu", sans-serif;
    --font-family-one: var(--font-family-system);
    --font-weight-one-light: 300;
    --font-weight-one-bold: 700;
    --font-family-two: var(--font-family-system);
    --font-weight-two-bold: 700;
    --font-family-three: var(--font-family-system);
    --font-weight-three-regular: 400;
    --font-weight-three-medium: 500;
    --font-weight-three-bold: 700;
    --ghost-accent-color: #0c9aca;
    --color-font-one: #151618;
    --color-font-two: #fff;
    --color-font-three: #151618;
    --color-font-four: #fff;
    --color-font-five: #151618;
    --color-font-six: #fff;
    --color-font-black: #151618;
    --color-one: #efeef0;
    --color-two: #e6e6ea;
    --color-three: #151618;
    --color-four: #151618;
    --color-five: #151618;
    --color-six: #fff;
    --color-seven: #151618;
    --color-eight: #efeef0;
    --color-nine: #f6f6f8;
    --color-ten: #fff;
    --color-eleven: #f6f6f8;
    --color-twelve: #f2f0f2;
    --color-thirteen: #e6e6ea;
    --color-white: #fff;
    --color-body: #fff;
    --color-body-partial: #9f6060;
    --color-border-one: #ceced0;
    --color-border-two: #ceced0;
    --color-border-three: #797c82;
    --border: 1px solid;
    --color-alert-success: #61d6ad;
    --color-alert-error: #ff6c78;
    --opacity-one: 0.8;
    --opacity-two: 1;
    color-scheme: light dark;
}

.no-rounded {
    --radius-4: 0;
    --radius-8: 0;
    --radius-12: 0;
    --radius-16: 0;
    --radius-20: 0;
    --radius-full: 0;
    --radius-999: 0;
}

:root {
    --shadow: 0 3px 10px -2px rgba(4, 9, 14, 0.1),
        0 10px 25px -30px rgba(0, 0, 0, 0.1);
    --body-background-color: #f9f9ff;
    --card-background-color: #ffffff;
}

.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

.header-inner {
    background-color: var(--card-background-color);
    padding: .4rem .4rem;
    border-radius: 10px;
    /* box-shadow: var(--shadow); */
    align-items: center;
}
.g-padding {
    max-width: var(--max-width-global-wrap);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--margin-wrap-left-right);
    padding-left: var(--margin-wrap-left-right);
}

.g-padding #sidebar-multi-level-sidebar {
    width: 25% !important;
}

.g-padding .diff-requests-container {
    width: 25% !important;
}

.g-padding .single-request-container {
    width: 50% !important;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
[data-nav="sticky"] .site-header,
[data-nav="sticky-hide"] .site-header {
    width: 100%;
    left: 0;
    top: 8px;
    z-index: 10;
}

[data-nav="sticky"] .site-header {
    position: sticky;
}

[data-nav="sticky-hide"] .site-header.hide,
[data-nav="sticky-hide"] .site-header.show {
    position: sticky;
}

[data-nav="sticky-hide"] .site-header {
    transform: translateY(0);
    transition: transform 0.25s;
}
[data-nav="sticky-hide"] .site-header.hide {
    transform: translateY(calc(-100% - 32px));
}
[data-nav="sticky-hide"] .js-mobile-menu-opened .site-header.hide {
    transform: none;
}
